/*鐑棬甯栦笅鍒掔嚎宸︾┖*/
.tiezi_list {margin-left: 0px}
.tiezi_list li .user_tx{!important;}
.tiezi_list li{   padding: 8px 13px 8px 70px!important; border-bottom: 1px solid #e7e7e7!important;}
.toupiao_list a{border-top: 1px solid #f0f0f0!important;border-bottom: 1px solid #f0f0f0!important;}
.add_gca{font-size: 16px!important;color: #333!important;}
.index_main2{margin-top: 10px!important;margin-bottom: 60px!important;}
.index_main1{margin-bottom: 10px!important;}